html {
  @include font-smoothing;
  font-family: $font-family-base;
  font-weight: 600;
  font-size: $font-base;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-black;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.block {
  padding: 0 40px;
  @media  (max-width:$mobile-width) {
    padding: 0 20px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#canvas {
  display: none;
}

canvas {
  border: 1px black solid;
}

#exportedImage {
  background-image: url(./../images/bg.jpeg);
  background-repeat: no-repeat;
  display: none;
}

