// ========================
// Paths
// ========================

$font-path: "../../fonts/" !default;


// ========================
// Colors
// ========================

$color-white: #fff;
$color-black: #000000;
$color-grey: #A0A0A0;;


// ========================
// Base
// ========================

$font-family-base: 'test-founders-grotesk-x-condensed', sans-serif;
$font-base: 25px;
$border-radius: 20px;
$mobile-width: 540px;
$tablet-width: 812px;


// ========================
// Grid/Spacings
// ========================

$container-sm: 656px;
$container: 1194px;

$grid-columns: 12;
$grid-gap: 16px;

// ========================
// Transition/Animation
// ========================

$transition-duration: 0.2s;


// ========================
// Z-index
// ========================

