.banner {
    width: size(140px);
    padding: size(6px) size(14px);
    font-weight: 600;
    font-size: size(13px);
    line-height: size(10px);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: size(23px);
    bottom: size(15px);
    border: 1px solid #FFFFFF;
}