.banner {
    width: size-vh(140px, 768px);
    padding: size-vh(6px, 768px) size-vh(14px, 768px);
    font-weight: 600;
    font-size: size-vh(13px, 768px);
    line-height: size-vh(10px, 768px);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: size-vh(23px, 768px);
    bottom: size-vh(15px, 768px);
    border: 1px solid #FFFFFF;
}