.big-letters {
    font-weight: 600;
    font-size: size(180px);
    color: #ffffff;
    text-transform: uppercase;
    @media  (max-width:$mobile-width) {
        font-size: 80px;
        margin: auto 0;
    }
    &__row {
        white-space: nowrap;
        line-height: size(120px);
        display: flex;
        justify-content: space-between;
        @media  (max-width:$mobile-width) {
            line-height: 80%;
        }
        &--small {
            line-height: size(120px);
            display: flex;
            justify-content: space-between;
            font-size: size(132px);
            line-height: size(100px);
            @media  (max-width:$mobile-width) {
                font-size: 60px;
                line-height: 80%;
            }
        }
        &--1 {
            margin-left: 3.5%;
        }
        &--2 {
            margin-left: 28.5%;
        }
        &--3 {
            margin-left: 19.5%;
        }
        &--4 {
            margin-left: 62.9%;
        }
    }
    &--loading {
        margin-bottom: size(82px);
        margin-top: size(72px);
    }
}