.big-letters {
    
    color: #ffffff;
    text-transform: uppercase;
    @media  (max-width:$mobile-width) {
        
        margin: auto 0;
    }
    &__row {
        white-space: nowrap;
        line-height: size-vh(100px, 768px);
        font-weight: 600;
        font-size: size-vh(160px, 768px);
        display: flex;
        justify-content: space-between;
        @media  (max-width:$mobile-width) {
            font-size: size-vh(60px, 375px);
            line-height: 80%;
        }
        &--small {
            line-height: size-vh(90px, 768px);
            display: flex;
            justify-content: space-between;
            font-size: size-vh(120px, 768px);
            @media  (max-width:$mobile-width) {
                font-size: size-vh(70px, 375px);
                line-height: 80%;
            }
        }
        &--1 {
            margin-left: 3.5%;
        }
        &--2 {
            margin-left: 28.5%;
        }
        &--3 {
            margin-left: 19.5%;
        }
        &--4 {
            margin-left: 62.9%;
        }
    }
    &--loading {
        margin-bottom: size-vh(82px, 768px);
        margin-top: size-vh(72px, 768px);
        @media  (max-width:$mobile-width) {
            margin-bottom: size-vh(20px, 375px);
            margin-top: size-vh(20px, 375px);
        }
    }
}