.button {
    font-weight: 600;
    font-size: size(25px);
    line-height: size(20px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: size(358px);
    width: 32%;
    height: size(44px);
    text-decoration: none;
    color: $color-black;
    border: 3px solid #000000;
    border-radius: $border-radius;
    @media  (max-width:$mobile-width) {
        border: 2px solid #000000;
        font-size: 20px;
        line-height: 100%;
        width: 100%;
    }
    &--white {
        color: $color-white;
        border-color: $color-white;
    }
    &--disabled {
        border-color: $color-grey;
        color: $color-grey;
        background-color: transparent;
        pointer-events: none;
    }
    
}