.button {
    font-weight: 600;
    font-size: size-vh(25px, 768px);
    line-height: size-vh(20px, 768px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: size-vh(358px, 768px);
    width: 32%;
    height: size-vh(44px, 768px);
    text-decoration: none;
    color: $color-black;
    border: 3px solid #000000;
    border-radius: $border-radius;
    @media  (max-width:$mobile-width) {
        border: 2px solid #000000;
        font-size: size-vh(20px, 768px);
        line-height: 100%;
        width: 100%;
    }
    &--white {
        color: $color-white;
        border-color: $color-white;
    }
    &--disabled {
        border-color: $color-grey;
        color: $color-grey;
        background-color: transparent;
        pointer-events: none;
    }
    
}