.created {
    margin: auto 0 size(40px);
    p {
        font-weight: 600;
        font-size: size(25px);
        line-height: size(20px);
        text-align: center;
        text-transform: uppercase;
        
    }
}