.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
    &__button {
        margin: size-vh(20px, 768px) auto size-vh(40px, 768px);
       
        @media  (max-width:$mobile-width) {
            margin: auto auto size-vh(40px, 375px);
            width: calc(100% - 40px);
        }
    }
}