.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
    &__button {
        margin: size-vh(20px, 768px) auto size-vh(40px, 768px);
        z-index: 111;
       
        @media  (max-width:$mobile-width) {
            margin: auto auto size-vh(40px, 375px);
            width: calc(100% - 40px);
        }
    }
    &__video {
        height: 75vh;
        margin-top: -15vh;
        -o-object-fit: contain;
        object-fit: contain;
        @media (max-width: 1024px) { 
            height: 72vh;
        margin-top: -10vh;
            -o-object-fit: cover;
            object-fit: cover;
         }
        @media (max-width: 812px) and (orientation: landscape) { 
            -o-object-fit: contain;
            object-fit: contain;
         }
    }
}