.send-block {
    .title {
        line-height: size(40px);
        margin-top: size(100px);
        margin-bottom: size(90px);
    }
    input {
        margin-bottom: size(90px);
    }
    #qrcode {
        margin: 30px auto;
        width: fit-content;
    }
    &--finish {
        margin: 0 auto;
    }
}