.title {
    font-weight: 600;
    font-size: size(55px);
    line-height: size(66px);
    margin-bottom: size(114px);
    margin-top: size(104px);
    text-align: center;
    text-transform: uppercase;
    max-width: size(740px);
    margin-left: auto;
    margin-right: auto;
    @media  (max-width:$mobile-width) {
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 36px;
        line-height: 110%;
    }
}