extends ../layout/layout

block globalVars
  - var currentPage = "final"
  - var currentPageColor = "black"

block body
  +header("main")
  main 
    .container
      .main-page 
        .final 
            .final__text great, thanks.
            a.button.button--white.main-page__button(href="./index.html") generate another nickname