extends ../layout/layout

block globalVars
  - var currentPage = "loading"
  - var currentPageColor = "black"

block body
  +header("loading")
  main 
    .container
      .main-page 
        .big-letters.big-letters--loading
          .big-letters__row.big-letters__row--small 
            span king
            span watchmaker 
          .big-letters__row.big-letters__row--small
            span fast train
            span eagle 
          .big-letters__row.big-letters__row--small
            span little prince 
          .big-letters__row.big-letters__row--small
            span lion
            span angel of the mo 
        +banner
