extends ../layout/layout

block globalVars
  - var currentPage = ""

block body
  +header("standart")
  main 
    .container.randomize
        .intro
            +header("main")
            .container
                .main-page 
                    .big-letters 
                        .big-letters__row.big-letters__row--1 the 
                        .big-letters__row.big-letters__row--2 eagle 
                        .big-letters__row.big-letters__row--3 of 
                        .big-letters__row.big-letters__row--4 toledo 
                    a.button.button--white.main-page__button(href="./randomizer.html") let’s begin
                    +banner
        form(action="")
            .block.question-1
                h2.title what type of cyclist are you?
                .radio-form 
                    input.radio-form__input(type="radio" name="cyclist" id="goat" value="mountain goat")
                    label.radio-form__label.button( for="goat") mountain goat
                    input.radio-form__input(type="radio" name="cyclist" id="sprinter" value="full gas sprinter")
                    label.radio-form__label.button( for="sprinter") full gas sprinter 
                    input.radio-form__input(type="radio" name="cyclist" id="bandit" value="breakaway bandit")
                    label.radio-form__label.button( for="bandit") breakaway bandit
                    input.radio-form__input(type="radio" name="cyclist" id="botherer" value="broom wagon botherer")
                    label.radio-form__label.button( for="botherer") broom wagon botherer
                    input.radio-form__input(type="radio" name="cyclist" id="domestique" value="super domestique")
                    label.radio-form__label.button( for="domestique") super domestique
                    input.radio-form__input(type="radio" name="cyclist" id="captain" value="captain of the road")
                    label.radio-form__label.button( for="captain") captain of the road
                    .radio-form__submit 
                        button.button.button--submit.button--disabled.radio-form__submit--1(type="button") onwards!
            .block.question-2.hidden
                h2.title please name a favourite place
                .radio-form 
                    input.radio-form__text-input.input(type="text" name="place" id="place" placeholder="enter the city, town, village or place that means something to you")
                    p.radio-form__note psst... try and keep it under 12 characters in length
                    .radio-form__submit 
                        button.button.button--submit.button--disabled.radio-form__submit--2(type="submit") next
        .block.result.hidden
            p.result__intro congratulations. you are...
            p#contentToWrite1.result__result  the butterfly of bermondsey
            button.result__button.button(type="button" name="name" ) 
              span.result__button--desktop generate qr with your nickname  
              span.result__button--mobile generate link with your nickname  
        .send-block.hidden 
            .send-block__note.send-block__note--desktop.title scan the qr code with your nickname to share with friends
            .send-block__note.send-block__note--mobile.title follow the link with your nickname to share with friends
            a.send-block__link(href="") tap here
            #qrcode
            button.button.send-block--finish( type="button") Finish            
        .radio-form__reset 
            a.radio-form__reset-label( onClick="window.location.reload()") 
                +svg-icon("restart")
        .created 
          p created by conductor
        .main-page.loading
            +header("loading")
            .container
                .main-page 
                    .big-letters.big-letters--loading
                        .big-letters__row.big-letters__row--small 
                            span king&nbsp;&nbsp;
                            span watchmaker 
                        .big-letters__row.big-letters__row--small
                            span fast train&nbsp;&nbsp;
                            span eagle 
                        .big-letters__row.big-letters__row--small
                            span little prince&nbsp;&nbsp;
                        .big-letters__row.big-letters__row--small
                            span lion&nbsp;&nbsp;
                            span angel of the mo 
                    +banner
        .final 
            +header("loading")
            .container
                .main-page 
                    .final__text great, thanks.
                    a.button.button--white.main-page__button(onClick="window.location.reload()") generate another nickname