extends ../layout/layout

block globalVars
  - var currentPage = ""

block body
  +header("standart")
  main 
    .container
        .image-share-block
            img#image(src="https://img.bruzu.com/?bi=https://source.unsplash.com/27HiryxnHJk/500x500&bi.o=undefined&h=500&w=500&a.tp=textbox&a.ox=center&a.oy=center&a.x=250&a.y=250&a.w=503&a.h=122&a.t=the butterfly of bermondsey&a.ta=center&a.fs=60&a.lh=0.8&a.fw=700&a.ff=Space Grotesk&a.maxHeight=500")
            .image-share-block__share 
              .image-share-block__facebook
                #fb-share-button
                    svg(viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet")
                        path(class="svg-icon-path" d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3C7,2.4,6.9,2.7,6.9,3v1.4H9L8.8,6.5H6.9V12H4.7V6.5H2.9V4.4h1.8V2.8 c0-0.9,0.3-1.6,0.7-2.1C6,0.2,6.6,0,7.5,0C8.2,0,8.7,0,9.1,0.1z" )
                    span Share
              .image-share-block__instagram