extends ../layout/layout

block globalVars
  - var currentPage = "result"
  - var currentPageColor = "white"

block body
  +header("standart")
  main 
    .container
        .image-share-block
            img#image(src="")
            .image-share-block__share 
              .image-share-block__facebook
                #fb-share-button.button
                    span Share