include ../mixins/mixins

block globalVars

doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    meta( property="og:image" content="")
    meta( property="og:title" content="Cycling Nickname Generator " )
    meta( property="og:description" content="My Cycling Nickname" )
    meta( property="og:type" content="website")
    meta( name="viewport" content="width=device-width" )
    link( rel="manifest" href="manifest.webmanifest" )
    title Cycling Nickname Generator 

    if currentPageColor == "black"
      style.
        body {
          background-color: #000000;
        }
    if currentPageColor == "white"
      style.
        body {
          background-color: #ffffff !important;
        }

  body
    

    block body

    include ../../sprite.svg
  script( src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js")
