include ../mixins/mixins

block globalVars

doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    //- meta( property="og:image" content="document.location value")
    meta( property="og:title" content="Cycling Nickname Generator " )
    meta( property="og:description" content="My Cycling Nickname" )
    meta( property="og:type" content="image")
    title Cycling Nickname Generator 

    if currentPageColor == "black"
      style.
        body {
          background-color: #000000;
        }

  body
    

    block body

    include ../../sprite.svg
  script( src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js")
